<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search student</title>
</head>

<body>
    <h1>
        <center>Student Search</center>
    </h1>
    <form action="" method="GET" :>
        {% csrf_token %}

        <center>Student Name: <input type="text" name="name" /><br></center>
        <br>

        <center><input type="submit" value="Search Student"></center>
        <div class="container">
            <div class="row">
                {% for name in findregister %}
                <h3 div class="card-name">{{nameregister.name}}</h3>
                {% endfor %}
            </div>
        </div>

    </form>
</body>

</html>